<div class="container">
<p class="text-end">Hello,{{user?.username}}</p>
<!-- <p>Here's your details,{{user.city}}</p>
<p>Here's your details,{{user.email}}</p> -->
<img class="a float-end" src={{user?.profilepic}} alt="">

<button class="btn btn-danger mx-auto mt-5 d-block" (click)="onbuttonclick()">get protected data</button>

<i class="fa-solid fa-cat"></i>
<hr>
<div  class="container" >
  <!-- view cart button -->
  <button type="submit"(click)="viewcart(user?.username)"  class="btn float-end  position-relative" ><i class="fa-solid fa-cat"></i><span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
    {{cartCount}}
    <span class="visually-hidden">unread messages</span>
  </span></button>
</div>

<div class="container">
<div class="row">
    <div class="card col-10 col-sm-5 col-md-4 col-lg-4 mx-auto mb-3" *ngFor="let product of allProducts;let i=index">
        <img src="{{product?.profilepic}}" width="10vw" height="300vw" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title fw-bold">{{product?.productname}}</h5>
          <h6 class="card-title">Price: {{product?.price}}$</h6>
          <h6 class="card-text">Product Id: {{product?.productid}}</h6>
          <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
         <h6>Manufacture Date: {{product?.Date}}</h6>
          <button type="submit" class="btn btn-sm float-start" style="background-color: #eb8f05;">Buy</button>
          <button type="submit" class="btn btn-sm float-end"  style="background-color: #5dff34;" (click)="send(user?.username,product)">Add to Cart</button>
        </div>
    </div>
    </div>
    </div>
  </div>
    
